$if(external_url)$
<header id="title-block-header" class="quarto-title-block default">
	<div class="quarto-title">
		<h1 class="title">$title$</h1>
	</div>
	$if(short_description)$
	<p class="adh-entry-intro">$short_description$</p>
	$endif$
	<a class="adh-page-link" href="$external_url$">Visit resource</a>
	$if(screenshot)$
	<figure class="adh-entry-figure">
		<img src="$screenshot$" alt="$screenshot_alt$" />
		<figcaption>$screenshot_alt$</figcaption>
	</figure>
	$endif$
	<h2>Metadata</h2>
	<div class="adh-meta">
		<div><strong>Section</strong>$section_label$</div>
		<div>
			<strong>Region</strong>$if(regions)$$for(regions)$$regions$$sep$, $endfor$$else$None$endif$
		</div>
		<div>
			<strong>Language</strong>$if(languages)$$for(languages)$$languages$$sep$,
			$endfor$$else$None$endif$
		</div>
		<div>
			<strong>Type</strong>$if(resource_types)$$for(resource_types)$$resource_types$$sep$,
			$endfor$$else$None$endif$
		</div>
		<div>
			<strong>Period</strong>$if(periods)$$for(periods)$$periods$$sep$, $endfor$$else$None$endif$
		</div>
	</div>
</header>
$endif$
