---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  font-weight: inherit; /* Not default bold, but what the surrounding text looks like. */
  text-decoration: underline;
}

header ul a:hover, header ul a:focus {
  font-weight: normal;
}
